*{
	margin: 0;
	padding: 0;
}

div.container{
	width: 40%;
	margin: 0 auto;
}

div.box{
	position: relative;
	top: 100px;
	width: 100%;
	background-color: #D8D8D8;
	padding-bottom: 20px;
}

div.box-head{
	width: 100%;
	background-color: #BDBDBD;
	height: 50px;
}

div.box-head h2{
	line-height: 50px;
	font-size: 30px;
	margin-left: 10px;
}

div.box-body{
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
}

div.campos{
	width: 100%;
	height: 100px;
}

select#medida{
	height: 100%;
	width: 40%;
	font-size: 20px;
}

input#inicio{
	height: 30px;
	width: 44%;
	font-size: 20px;
}

input#fim{
	margin-top: 30px;
	height: 30px;
	width: 44%;
	font-size: 20px;
}

input#hora1{
	height: 30px;
	margin-left: 20px;
	width: 44%;
	font-size: 20px;
}

input#hora2{
	margin-top: 30px;
	height: 30px;
	margin-left: 20px;
	width: 44%;
	font-size: 20px;
}

div.btn-box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 100%;
	height: 35px;
}

select#medida{
	height: 100%;
	width: 44%;
	font-size: 22px;
}

button.btn-calcular{
	margin-left: 25px;
	width: 35%;
	height: 100%;
	font-size: 22px;
}

div.resultado{
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background-color: #FFF;
}

div.resultado p{
	font-size: 22px;
	line-height: 40px;
	margin-left: 8px;
}
